<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="connection" class="com.demo.xml.factory.ConnectionFactoryBean"></bean>

    <bean id="happyMachine" class="com.demo.xml.factory.HappyFactoryBean">
        <property name="machineName" value="小爱同学"/>
    </bean>
</beans>