<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.demo.other"/>

    <!-- 装配HandlerMapping、HandlerAdapter、jackson转换器 -->
    <mvc:annotation-driven/>

    <!-- 装配DefaultServlet静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 装配拦截器 -->
    <mvc:interceptors>
        <!-- 拦截规则1：当前项目所有Controller都被拦截 -->
        <!--<bean class="com.demo.other.interceptor.MyInterceptor"/>-->

        <!-- 拦截规则2：为指定路径，配置指定拦截器 -->
        <mvc:interceptor>
            <!-- 精确拦截 -->
            <!--<mvc:mapping path="/login/admin"/>-->
            <!-- 拦截路径：模糊拦截
                    1.单层模糊
                    2.多层模糊
             -->
            <!--<mvc:mapping path="/login/*"/>-->
            <mvc:mapping path="/login/**"/>
            <!-- 拦截路径：排除拦截 -->
            <mvc:exclude-mapping path="/login/exit"/>
            <bean class="com.demo.other.interceptor.MyInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/private/**"/>
            <bean class="com.demo.other.interceptor.LoginInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>
</beans>